Repository rybkagreen/estimate-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/ai-specialists, @estimate-service/data-engineers, @estimate-service/domain-experts, @estimate-service/developers

.github/CODEOWNERS:

# GitHub CODEOWNERS for Estimate Service
# Определяет ответственных за код review различных частей проекта

# === Global Owners ===
* @estimate-service/tech-leads

# === Backend Services ===
/services/ @estimate-service/tech-leads @estimate-service/senior-developers
/services/estimate-service/ @estimate-service/tech-leads @estimate-service/senior-developers
/services/ai-assistant/ @estimate-service/tech-leads @estimate-service/ai-specialists @estimate-service/senior-developers
/services/data-collector/ @estimate-service/tech-leads @estimate-service/data-engineers @estimate-service/senior-developers
/services/knowledge-base/ @estimate-service/tech-leads @estimate-service/ai-specialists @estimate-service/domain-experts
*.prisma @estimate-service/tech-leads @estimate-service/senior-developers

# === Frontend Application ===
/apps/estimate-frontend/ @estimate-service/tech-leads @estimate-service/senior-developers
/apps/estimate-frontend/src/components/ @estimate-service/senior-developers @estimate-service/developers

# === MCP Server ===
/mcp-server/ @estimate-service/tech-leads @estimate-service/ai-specialists @estimate-service/senior-developers

# === Infrastructure & DevOps ===
/.github/ @estimate-service/tech-leads
/docker-compose*.yml @estimate-service/tech-leads
/Dockerfile @estimate-service/tech-leads
/.vscode/ @estimate-service/tech-leads

# === Documentation ===
/docs/ @estimate-service/tech-leads @estimate-service/domain-experts
README.md @estimate-service/tech-leads @estimate-service/domain-experts
CHANGELOG.md @estimate-service/tech-leads

# === Domain-Specific Files ===
# Файлы, связанные с ФСБЦ-2022 и строительными сметами
**/estimate/ @estimate-service/domain-experts @estimate-service/tech-leads
**/rate/ @estimate-service/domain-experts @estimate-service/tech-leads
**/calculation/ @estimate-service/domain-experts @estimate-service/tech-leads

# === Security & Configuration ===
**/security/ @estimate-service/tech-leads
**/.env* @estimate-service/tech-leads
**/secrets/ @estimate-service/tech-leads

# === Testing ===
**/*.test.ts @estimate-service/senior-developers @estimate-service/developers
**/*.spec.ts @estimate-service/senior-developers @estimate-service/developers
/test/ @estimate-service/senior-developers @estimate-service/developers

# === AI/ML Models and Configurations ===
**/models/ @estimate-service/ai-specialists @estimate-service/tech-leads
**/prompts/ @estimate-service/ai-specialists @estimate-service/domain-experts
**/*.prompt @estimate-service/ai-specialists @estimate-service/domain-experts
**/embeddings/ @estimate-service/ai-specialists @estimate-service/data-engineers

fix
  apps/estimate-frontend/src/index.css
  design-system/components/badges.css
  design-system/components/cards.css
  design-system/components/loading.css
  design-system/components/navigation.css
  design-system/components/notifications.css
  design-system/docs/components-usage.md
  design-system/index.css
  docs/USAGE-SCENARIOS-BY-ROLE.md
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/domain-experts

initial commit
  apps/estimate-frontend/src/store/api.ts
  apps/estimate-frontend/src/store/index.ts
  apps/estimate-frontend/src/store/slices/authSlice.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

feat: интеграция системы работы с документами (загрузка, просмотр, редактирование, redux, роутинг)
  .devcontainer/devcontainer.json
  apps/estimate-frontend/src/App.tsx
  apps/estimate-frontend/src/components/auth/AuthProvider.tsx
  apps/estimate-frontend/src/components/auth/ProtectedRoute.tsx
  apps/estimate-frontend/src/components/auth/RoleGuard.tsx
  apps/estimate-frontend/src/components/documents/DocumentEditor.tsx
  apps/estimate-frontend/src/components/documents/DocumentViewer.tsx
  apps/estimate-frontend/src/components/documents/DocumentsContainer.tsx
  apps/estimate-frontend/src/components/documents/FileUploader.tsx
  apps/estimate-frontend/src/pages/Login.tsx
  apps/estimate-frontend/src/services/fileService.ts
  apps/estimate-frontend/src/store/slices/documentsSlice.ts
  design-system/docs/roadmap.txt
  package-lock.json
  package.json
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/developers

feat: интеграция AI-проверки смет, массовые действия, контекстное меню, расширенный экспорт PDF, исправления типов
  ESTIMATE_SYSTEM_ROADMAP_REPORT.md
  apps/estimate-frontend/src/components/Sidebar.tsx
  apps/estimate-frontend/src/pages/Estimates.tsx
  package-lock.json
  package.json
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/developers

feat(prisma): add EstimateTemplate model and user relation for estimate templates
  prisma/schema.prisma
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

Add comprehensive documentation and wireframes
  docs/FRONTEND_IMPLEMENTATION_ROADMAP.md
  docs/IMPLEMENTATION_PROGRESS.md
  docs/SMETA_RU_FEATURES_ANALYSIS.md
  docs/UI_UX_CONCEPT.md
  docs/WEEK_1_IMPLEMENTATION_PLAN.md
  docs/wireframes/AI_OPTIMIZED_DASHBOARD.md
  docs/wireframes/AI_OPTIMIZED_ESTIMATES.md
  docs/wireframes/DASHBOARD_WIREFRAME.md
  docs/wireframes/ESTIMATES_WIREFRAME.md
  docs/wireframes/README.md
  docs/wireframes/design-system/color-contrast.md
  docs/wireframes/design-system/components-usage.md
  docs/wireframes/design-system/roadmap.txt
Owners: @estimate-service/tech-leads, @estimate-service/domain-experts

feat: Улучшение функциональности для роли Руководитель проекта
  apps/estimate-frontend/src/components/risks/RiskMatrix.tsx
  apps/estimate-frontend/src/main.tsx
  apps/estimate-frontend/src/pages/Dashboard.tsx
  apps/estimate-frontend/src/pages/DocumentManagement.tsx
  apps/estimate-frontend/src/pages/Reports.tsx
  apps/estimate-frontend/src/styles/dashboard.css
  docs/analysis/document-infrastructure-analysis.md
  docs/analysis/document-infrastructure-summary.md
Owners: @estimate-service/senior-developers, @estimate-service/developers, @estimate-service/tech-leads, @estimate-service/domain-experts

docs: Обновление README с последними изменениями
  README.md
Owners: @estimate-service/tech-leads, @estimate-service/domain-experts

chore: обновление @types/node с версии 18.16.9 до 20.16.0
  package-lock.json
  package.json
Owners: @estimate-service/tech-leads

feat: Add EstimateAI service for FSBC-2022 integration and Weaviate vector store setup
  docker-compose.weaviate.yml
  mcp-server/src/services/estimate-ai.service.ts
  mcp-server/src/services/index.ts
  services/ai-assistant-service/docs/WEEK1_IMPLEMENTATION_PLAN.md
  services/ai-assistant-service/src/vector-store/vector-store.module.ts
  services/ai-assistant-service/src/vector-store/weaviate.service.ts
Owners: @estimate-service/tech-leads, @estimate-service/ai-specialists, @estimate-service/senior-developers

feat: Implement AI Assistant chat module with Weaviate integration
  docker-compose.weaviate.yml
  package-lock.json
  package.json
  services/ai-assistant-service/.env.example
  services/ai-assistant-service/src/app.module.ts
  services/ai-assistant-service/src/auth/jwt-auth.guard.ts
  services/ai-assistant-service/src/chat/chat.controller.ts
  services/ai-assistant-service/src/chat/chat.module.ts
  services/ai-assistant-service/src/chat/chat.service.ts
  services/ai-assistant-service/src/vector-store/weaviate.service.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

feat: Sync AI Assistant modules and add Weaviate data initialization
  package-lock.json
  package.json
  prisma/migrations/20250714181620_add_ai_assistant_models/migration.sql
  prisma/schema.prisma
  scripts/init-weaviate-data.js
  scripts/init-weaviate-data.ts
  services/ai-assistant-service/src/auth/index.ts
  services/ai-assistant-service/src/chat/index.ts
  services/ai-assistant-service/src/vector-store/index.ts
  services/ai-assistant/src/app/app.module.ts
  services/ai-assistant/src/app/modules/chat/index.ts
  services/ai-assistant/src/auth/index.ts
  services/ai-assistant/src/auth/jwt-auth.guard.ts
  services/ai-assistant/src/chat/chat.controller.ts
  services/ai-assistant/src/chat/chat.module.ts
  services/ai-assistant/src/chat/chat.service.ts
  services/ai-assistant/src/chat/index.ts
  services/ai-assistant/src/deepseek/deepseek.module.ts
  services/ai-assistant/src/deepseek/deepseek.service.ts
  services/ai-assistant/src/prisma/prisma.module.ts
  services/ai-assistant/src/prisma/prisma.service.ts
  services/ai-assistant/src/vector-store/index.ts
  services/ai-assistant/src/vector-store/vector-store.module.ts
  services/ai-assistant/src/vector-store/weaviate.service.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/ai-specialists

feat(config): add comprehensive environment configuration and production setup
  .env
  .env.example
  .env.monitoring.example
  .env.performance
  .env.production
  .env.production.README.md
  .env.production.SETUP.md
  .env.production.example
  .gitignore
  PRODUCTION_ENV_SETUP.md
Owners: @estimate-service/tech-leads

docs: add comprehensive documentation for configuration, monitoring, and security
  docs/configuration/api-keys-setup.md
  docs/monitoring/SETUP.md
  docs/performance-tuning.md
  docs/redis-configuration.md
  docs/security/IMPLEMENTATION_SUMMARY.md
  docs/security/README.md
  docs/security/SECRET_KEYS.md
  docs/security/SECURITY_CONFIGURATION.md
Owners: @estimate-service/tech-leads, @estimate-service/domain-experts

feat(scripts): add production deployment and secret management scripts
  ecosystem.config.js
  scripts/check-api-keys.js
  scripts/generate-production-secrets.sh
  scripts/manage-secrets.sh
  scripts/setup-production.sh
Owners: @estimate-service/tech-leads

refactor(ai-assistant): restructure service with modular architecture
  services/ai-assistant/project.json
  services/ai-assistant/src/app/app.module.ts
  services/ai-assistant/src/app/modules/auth/jwt-auth.guard.ts
  services/ai-assistant/src/app/modules/chat/chat.controller.ts
  services/ai-assistant/src/app/modules/chat/chat.gateway.ts
  services/ai-assistant/src/app/modules/chat/chat.module.ts
  services/ai-assistant/src/app/modules/chat/chat.service.ts
  services/ai-assistant/src/app/modules/chat/dto/analyze-estimate.dto.ts
  services/ai-assistant/src/app/modules/chat/dto/generate-estimate.dto.ts
  services/ai-assistant/src/app/modules/chat/dto/index.ts
  services/ai-assistant/src/app/modules/chat/dto/send-message.dto.ts
  services/ai-assistant/src/auth/index.ts
  services/ai-assistant/src/chat/chat.controller.ts
  services/ai-assistant/src/chat/chat.module.ts
  services/ai-assistant/src/chat/chat.service.ts
  services/ai-assistant/src/chat/index.ts
  services/ai-assistant/src/deepseek/deepseek.service.ts
  services/ai-assistant/src/main.ts
  services/ai-assistant/src/vector-store/vector-store.module.ts
  services/ai-assistant/src/vector-store/vector-store.service.ts
  services/ai-assistant/src/vector-store/weaviate.service.ts
  services/ai-assistant/webpack.config.js
Owners: @estimate-service/tech-leads, @estimate-service/ai-specialists, @estimate-service/senior-developers

feat(libs): add shared libraries for cross-service functionality
  libs/shared/src/config/database.config.ts
  libs/shared/src/config/fsbc.config.ts
  libs/shared/src/config/index.ts
  libs/shared/src/config/monitoring.config.ts
  libs/shared/src/config/performance.config.ts
  libs/shared/src/config/scaling.config.ts
  libs/shared/src/config/security-advanced.config.ts
  libs/shared/src/config/security.config.ts
  libs/shared/src/database/connection-manager.ts
  libs/shared/src/monitoring/logger.service.ts
  libs/shared/src/monitoring/metrics.service.ts
  libs/shared/src/monitoring/monitoring.module.ts
  libs/shared/src/utils/encryption.util.spec.ts
  libs/shared/src/utils/encryption.util.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/developers

feat(estimate-service): enhance Redis configuration and add queue management
  services/estimate-service/src/config/redis.config.ts
  services/estimate-service/src/modules/queues/estimate-queue.module.ts
  services/estimate-service/src/modules/queues/estimate-queue.processor.ts
  services/estimate-service/src/modules/queues/estimate-queue.service.ts
  services/estimate-service/src/modules/queues/index.ts
  services/estimate-service/src/modules/redis/index.ts
  services/estimate-service/src/modules/redis/redis.module.ts
  services/estimate-service/src/modules/redis/redis.service.ts
  services/estimate-service/src/shared/security/security-config.service.ts
  services/estimate-service/src/shared/security/security.module.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

feat(mcp-server): update configuration with enhanced settings
  mcp-server/src/config/index.ts
Owners: @estimate-service/tech-leads, @estimate-service/ai-specialists, @estimate-service/senior-developers

build(deps): update dependencies for production deployment
  package-lock.json
  package.json
Owners: @estimate-service/tech-leads

feat(ai-assistant): implement machine learning services for knowledge accumulation
  services/ai-assistant/src/modules/context-manager.service.ts
  services/ai-assistant/src/modules/embedding.service.ts
  services/ai-assistant/src/modules/estimate-advisor.service.ts
  services/ai-assistant/src/modules/knowledge-extractor.service.ts
  services/ai-assistant/src/modules/learning/feedback-processor.service.ts
  services/ai-assistant/src/modules/learning/index.ts
  services/ai-assistant/src/modules/learning/interaction-analyzer.service.ts
  services/ai-assistant/src/modules/learning/knowledge-updater.service.ts
  services/ai-assistant/src/modules/learning/learning.module.ts
  services/ai-assistant/src/modules/learning/pattern-detector.service.ts
  services/ai-assistant/src/modules/learning/quality-assessor.service.ts
Owners: @estimate-service/tech-leads, @estimate-service/ai-specialists, @estimate-service/senior-developers

feat(analytics): create analytics service for historical data analysis
  services/analytics/package.json
  services/analytics/src/app.module.ts
  services/analytics/src/main.ts
  services/analytics/src/modules/analytics.controller.ts
  services/analytics/src/modules/analytics.module.ts
  services/analytics/src/modules/cost-predictor.service.ts
  services/analytics/src/modules/historical-analyzer.service.ts
  services/analytics/src/modules/performance-tracker.service.ts
  services/analytics/src/modules/risk-assessor.service.ts
  services/analytics/src/modules/trend-detector.service.ts
  services/analytics/tsconfig.json
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

fix: Fix type and import errors in ai-assistant services
  .devcontainer/devcontainer.json
  services/estimate-service/src/modules/ai-assistant/services/backup/feedback-processor.service.ts
  services/estimate-service/src/modules/ai-assistant/services/backup/model-manager.service.ts
  services/estimate-service/src/modules/ai-assistant/services/claude-validator.service.ts
  services/estimate-service/src/modules/ai-assistant/services/feedback-processor.service.ts
  services/estimate-service/src/modules/ai-assistant/services/historical-estimate.service.ts
  services/estimate-service/src/modules/ai-assistant/services/response-builder.service.ts
  services/estimate-service/src/types/shared-contracts.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

fix: add typescript-eslint dependency to fix linting issues
  package-lock.json
  package.json
Owners: @estimate-service/tech-leads

docs: Implement documentation process improvements
  docs/.cspell/custom-dictionary.txt
  docs/DOCKER_SETUP.md
  docs/analysis/SYSTEM_INVENTORY_MATRIX.md
  docs/planning/DOCUMENTATION_PRIORITIES_VISUAL.md
  docs/planning/DOCUMENTATION_QUICK_CHECKLIST.md
  docs/planning/DOCUMENTATION_UPDATE_PLAN_2025.md
  docs/reports/documentation-audit-2025-12.md
  docs/reports/documentation-audit-summary-2025-12.md
  docs/reports/documentation-gaps-2025-12.md
  docs/standards/DOCUMENTATION_CONSISTENCY_CHECKLIST.md
  docs/standards/DOCUMENTATION_PROCESS_WORKFLOW.md
  docs/standards/TEMPLATE_USAGE_GUIDE.md
  docs/standards/TERMINOLOGY_GLOSSARY.md
  docs/templates/ADR_TEMPLATE.md
  docs/templates/API_ENDPOINT_TEMPLATE.md
  docs/templates/FEATURE_DOCUMENTATION_TEMPLATE.md
  docs/templates/TECHNICAL_SPEC_TEMPLATE.md
  docs/templates/USER_GUIDE_TEMPLATE.md
Owners: @estimate-service/tech-leads, @estimate-service/domain-experts

docs: Add release notes for v1.5.0
  RELEASE_NOTES_v1.5.0.md
Owners: @estimate-service/tech-leads

WIP: Work in progress on temp-work-2025-07-16-1516
  apps/estimate-frontend/src/components/auth/ProtectedRoute.tsx
  mcp-server/src/index-local-simple.ts
  mcp-server/src/index-simple.ts
  mcp-server/src/tools/base-tool.ts
  mcp-server/test-local-simple.js
  mcp-server/test-mcp-protocol.js
  mcp-server/test-mcp-server.js
  mcp-server/validate-local-simple.js
  prisma/seed.ts
Owners: @estimate-service/senior-developers, @estimate-service/developers, @estimate-service/tech-leads, @estimate-service/ai-specialists
