Repository rybkagreen/estimate-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/developers, @estimate-service/domain-experts

🔒 Add API keys and secrets to .gitignore
  .gitignore
Owners: @estimate-service/tech-leads

feat: Implement automated FSBTS-2022 data collection system
  services/data-collector/.env.example
  services/data-collector/AUTOMATION_COMPLETION_REPORT.md
  services/data-collector/README.md
  services/data-collector/package-lock.json
  services/data-collector/package.json
  services/data-collector/src/app.module.ts
  services/data-collector/src/automation/automation.controller.ts
  services/data-collector/src/automation/automation.module.ts
  services/data-collector/src/modules/auto-collector/auto-collector.controller.ts
  services/data-collector/src/services/auto-collector.service.ts
  services/data-collector/src/services/automation.service.ts
  services/data-collector/src/services/file-download.service.ts
  services/data-collector/src/services/file-parser.service.ts
  services/data-collector/src/services/scheduled-collector.service.ts
  services/data-collector/src/shared/shared.module.ts
  services/data-collector/src/sources/etl-pipeline.service.ts
  services/data-collector/src/sources/fsbts-collector-simple.service.ts
  services/data-collector/src/sources/fsbts-collector.service.ts
  services/data-collector/src/sources/market-prices.service.ts
  services/data-collector/src/sources/minstroyrf-parser.service.ts
  services/data-collector/src/sources/normatives-parser.service.ts
  services/data-collector/src/sources/regional-data.service.ts
  services/data-collector/src/sources/sources.module.ts
  services/data-collector/src/types/common.types.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/domain-experts

docs: Update all documentation for FSBTS-2022 data collection system
  IMPLEMENTATION_REPORT.md
  README.md
  docs/ESTIMATE_SYSTEM_ROADMAP.txt
  docs/README.md
  docs/backend/PRODUCTION_ROADMAP.md
Owners: @estimate-service/tech-leads, @estimate-service/domain-experts

🔒 Add API keys and secrets to .gitignore
  .gitignore
Owners: @estimate-service/tech-leads

feat: Implement automated FSBTS-2022 data collection system
  services/data-collector/.env.example
  services/data-collector/AUTOMATION_COMPLETION_REPORT.md
  services/data-collector/README.md
  services/data-collector/package-lock.json
  services/data-collector/package.json
  services/data-collector/src/app.module.ts
  services/data-collector/src/automation/automation.controller.ts
  services/data-collector/src/automation/automation.module.ts
  services/data-collector/src/modules/auto-collector/auto-collector.controller.ts
  services/data-collector/src/services/auto-collector.service.ts
  services/data-collector/src/services/automation.service.ts
  services/data-collector/src/services/file-download.service.ts
  services/data-collector/src/services/file-parser.service.ts
  services/data-collector/src/services/scheduled-collector.service.ts
  services/data-collector/src/shared/shared.module.ts
  services/data-collector/src/sources/etl-pipeline.service.ts
  services/data-collector/src/sources/fsbts-collector-simple.service.ts
  services/data-collector/src/sources/fsbts-collector.service.ts
  services/data-collector/src/sources/market-prices.service.ts
  services/data-collector/src/sources/minstroyrf-parser.service.ts
  services/data-collector/src/sources/normatives-parser.service.ts
  services/data-collector/src/sources/regional-data.service.ts
  services/data-collector/src/sources/sources.module.ts
  services/data-collector/src/types/common.types.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers, @estimate-service/domain-experts

docs: Update all documentation for FSBTS-2022 data collection system
  ESTIMATE_SYSTEM_ROADMAP.txt
  IMPLEMENTATION_REPORT.md
  README.md
  docs/README.md
  docs/backend/PRODUCTION_ROADMAP.md
Owners: @estimate-service/tech-leads, @estimate-service/domain-experts

feat: Production sync - integrate data collection service and CI/CD
  .env
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  package.json
Owners: @estimate-service/tech-leads, @estimate-service/domain-experts

docs: Add PR template and production sync completion report
  PRODUCTION_SYNC_REPORT.md
  PULL_REQUEST_TEMPLATE.md
Owners: @estimate-service/tech-leads

chore: Add utility scripts and deployment guide
  NEXT_STEPS.md
  scripts/production-check.sh
  scripts/quick-start.sh
Owners: @estimate-service/tech-leads

feat(frontend): add Redux store with estimates slice and TypeScript types
  apps/estimate-frontend/package-lock.json
  apps/estimate-frontend/package.json
  apps/estimate-frontend/src/store/index.ts
  apps/estimate-frontend/src/store/slices/estimatesSlice.ts
  apps/estimate-frontend/src/types/estimate.types.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

docs: add frontend improvement plan documentation
  docs/frontend/ESTIMATE_FRONTEND_IMPROVEMENT_PLAN.md
Owners: @estimate-service/tech-leads, @estimate-service/domain-experts

refactor(mcp-server): remove deprecated simple implementation and update main index
  mcp-server/dist-simple/config/index.d.ts
  mcp-server/dist-simple/config/index.js
  mcp-server/dist-simple/index-simple.d.ts
  mcp-server/dist-simple/index-simple.js
  mcp-server/dist-simple/services/deepseek.service.d.ts
  mcp-server/dist-simple/services/deepseek.service.js
  mcp-server/dist-simple/tools/deepseek-simple.tools.d.ts
  mcp-server/dist-simple/tools/deepseek-simple.tools.js
  mcp-server/dist-simple/utils/logger.d.ts
  mcp-server/dist-simple/utils/logger.js
  mcp-server/dist-simple/utils/metrics-server.d.ts
  mcp-server/dist-simple/utils/metrics-server.js
  mcp-server/dist-simple/utils/prometheus-metrics.d.ts
  mcp-server/dist-simple/utils/prometheus-metrics.js
  mcp-server/package.json
  mcp-server/src/index-old.ts
  mcp-server/src/index-simple.ts
  mcp-server/src/index.ts
  mcp-server/src/tools/deepseek-simple.tools.ts
  mcp-server/test-simple-deepseek.cjs
  mcp-server/test-simple-deepseek.js
  mcp-server/test-simple.js
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

feat(backend): add common module with interceptors, filters and services
  services/estimate-service/src/common/common.module.ts
  services/estimate-service/src/common/filters/global-exception.filter.ts
  services/estimate-service/src/common/interceptors/request-id.interceptor.ts
  services/estimate-service/src/common/interfaces/problem-details.interface.ts
  services/estimate-service/src/common/sentry/sentry.module.ts
  services/estimate-service/src/common/services/graceful-shutdown.service.ts
  services/estimate-service/src/main.ts
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

feat(database): add comprehensive Prisma schema for estimate service
  prisma/schema.prisma
Owners: @estimate-service/tech-leads, @estimate-service/senior-developers

feat(testing): add Playwright e2e tests configuration and initial test cases
  e2e/auth.spec.ts
  e2e/example.spec.ts
  playwright-report/index.html
  playwright.config.ts
Owners: @estimate-service/senior-developers, @estimate-service/developers, @estimate-service/tech-leads

chore: update root package.json dependencies
  package.json
Owners: @estimate-service/tech-leads

chore: обновление package.json, nx-projects.txt, setup-env.js и добавлен .copilot-context
  .copilot-context
  .github/nx-projects.txt
  package.json
  scripts/setup-env.js
Owners: @estimate-service/tech-leads

.github/CODEOWNERS:

# GitHub CODEOWNERS for Estimate Service
# Определяет ответственных за код review различных частей проекта

# === Global Owners ===
* @estimate-service/tech-leads

# === Backend Services ===
/services/ @estimate-service/tech-leads @estimate-service/senior-developers
/services/estimate-service/ @estimate-service/tech-leads @estimate-service/senior-developers
*.prisma @estimate-service/tech-leads @estimate-service/senior-developers

# === Frontend Application ===
/apps/estimate-frontend/ @estimate-service/tech-leads @estimate-service/senior-developers
/apps/estimate-frontend/src/components/ @estimate-service/senior-developers @estimate-service/developers

# === MCP Server ===
/mcp-server/ @estimate-service/tech-leads @estimate-service/senior-developers

# === Infrastructure & DevOps ===
/.github/ @estimate-service/tech-leads
/docker-compose*.yml @estimate-service/tech-leads
/Dockerfile @estimate-service/tech-leads
/.vscode/ @estimate-service/tech-leads

# === Documentation ===
/docs/ @estimate-service/tech-leads @estimate-service/domain-experts
README.md @estimate-service/tech-leads @estimate-service/domain-experts
CHANGELOG.md @estimate-service/tech-leads

# === Domain-Specific Files ===
# Файлы, связанные с ФСБЦ-2022 и строительными сметами
**/estimate/ @estimate-service/domain-experts @estimate-service/tech-leads
**/rate/ @estimate-service/domain-experts @estimate-service/tech-leads
**/calculation/ @estimate-service/domain-experts @estimate-service/tech-leads

# === Security & Configuration ===
**/security/ @estimate-service/tech-leads
**/.env* @estimate-service/tech-leads
**/secrets/ @estimate-service/tech-leads

# === Testing ===
**/*.test.ts @estimate-service/senior-developers @estimate-service/developers
**/*.spec.ts @estimate-service/senior-developers @estimate-service/developers
/test/ @estimate-service/senior-developers @estimate-service/developers
